# Visual Studio: arquivos locais, compilação e configurações de usuário
.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.pdb
*.cache
*.log
TestResults/
_ReSharper*/
*.DotSettings.user
.vscode/
.idea/
packages/
artifacts/
*.publishsettings
*.pubxml.user
.DS_Store
Thumbs.db
